body {
  font-family: sans-serif;
  display: grid;
}

.base-timer {
  position: relative;
  width: 400px;
  height: 400px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  color: paleturquoise;
  fill: none;
  stroke: none;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__label {
  color: palevioletred;
  top: 0;
  display: flex;
  font-size: 28px;
}


.timer_section_desc {
  display: block;
  color: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  width: auto;
  margin: 0;
}
